:root {
  /* --custom-primary-color: #8eaeba; */
  /* --custom-primary-color: #6B7D77;
  --custom-secondary-color: #B5C1B0; */
  --custom-primary-color: #055864;
}

/* Root elements */
a {
  color: var(--custom-primary-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--custom-primary-color);
}

/* Navbar */
.navbar-nav > li > a {
  color: var(--custom-primary-color);
}

/* Background */
.bg-color2-overlay::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #3d5963;
  z-index: -1;
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .nav > li > a:hover,
.nav > li > a:focus, .navbar-nav > li > a.active {
  color: var(--custom-secondary-color);
}



#rsvp.section-bg-color {
  background: linear-gradient(#f9f9f9 50%, var(--custom-primary-color) 50%) no-repeat;
}

#rsvp h1 {
  color: var(--custom-primary-color);
}

#rsvp .form-check-wrapper {
  color: var(--custom-primary-color);
}

#rsvp .form-wrapper.neela-style > .v-lines {
  border-left-color: var(--custom-primary-color);
  border-right-color: var(--custom-primary-color);
}

#rsvp .form-wrapper.neela-style > .v-lines {
  border-top-color: var(--custom-primary-color);
  border-bottom-color: var(--custom-primary-color);
}

#rsvp .section-title::after {
  background-image: none;
  background-size: contain;
  background-color: var(--custom-primary-color);
  height: 1px;
  width: 160px;
  bottom: -40px;
}

.romantic-p {
  font-family: "Playfair Display", serif;
}

.flight-card h5 {
  font-size: 14px;
  font-weight: 900;
}

.flight-card .location-info {
  font-size: 10px;
}

.flight-card .location-info .time {
  font-size: 12px;
  line-height: normal;
}

.flight-card .location-info .city {
  font-size: 10px;
}

.flight-schedule {
  display: flex;
}

.arrow-line {
  height: 1px;
  background-color: #8eaeba;
  flex: 1;
}

.vr-dashed {
  width: 1px;
  border: 0;
  border-left: 1px solid black;
  border-style: dashed;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}


/* #Sections with background image
================================================== */
#our-story-title {
  background-image: url("../images/slideshow/door.jpg");
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  #our-story-title {
    background-image: url("../images/slideshow/door.jpg");
  }
}

#the-wedding {
    background-image: url("https://images.pexels.com/photos/1044320/pexels-photo-1044320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-image: url("https://images.pexels.com/photos/11572548/pexels-photo-11572548.jpeg?cs=srgb&dl=pexels-ti%E1%BB%83u-linh-11572548.jpg&fm=jpg");
    background-image: url("https://images.pexels.com/photos/2860870/pexels-photo-2860870.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-image: url("https://images.pexels.com/photos/1137532/pexels-photo-1137532.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    #the-wedding {
      background-image: url("https://images.pexels.com/photos/1044320/pexels-photo-1044320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
      background-image: url("https://images.pexels.com/photos/11572548/pexels-photo-11572548.jpeg?cs=srgb&dl=pexels-ti%E1%BB%83u-linh-11572548.jpg&fm=jpg");
      background-image: url("https://images.pexels.com/photos/2860870/pexels-photo-2860870.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
      background-image: url("https://images.pexels.com/photos/1137532/pexels-photo-1137532.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    }
  }

#dress-code {
  background-image: url("https://images.pexels.com/photos/7185801/pexels-photo-7185801.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  #dress-code {
    background-image: url("https://images.pexels.com/photos/7185801/pexels-photo-7185801.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }
}

#transportation {
    background-image: url("https://media.istockphoto.com/photos/colorful-buildings-in-campeche-mexico-picture-id1287190846?k=20&m=1287190846&s=612x612&w=0&h=kll-JduaQeJWuhj9P969a5AHswTmZtt_1aMDXa0W4CQ=");
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    #transportation {
      background-image: url("https://media.istockphoto.com/photos/colorful-buildings-in-campeche-mexico-picture-id1287190846?k=20&m=1287190846&s=612x612&w=0&h=kll-JduaQeJWuhj9P969a5AHswTmZtt_1aMDXa0W4CQ=");
    }
  }


#giftregistry {
  background-image: url("../images/slideshow/the_window2.jpg");
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  #giftregistry {
    background-image: url("../images/slideshow/the_window2.jpg");
  }
}

#giftregistry .section-title-lg {
  color: white;
}

.gift-registry-card-info {
  display: flex;
  justify-content: center;
}

.gift-registry-card-info img {
  height: 60px;
  margin-right: 20px;
}

.wedding-gifts li .gift-registry-card-info h3 {
  width: 100%;
}

.gift-registry-card-info p {
  margin-bottom: 0;
}

/* Tabs */

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: var(--custom-primary-color);
  border-radius: 0;
}

.nav-pills .nav-link {
  color: var(--custom-secondary-color);
}

.invite .invite_title {
    font-size: 65pt;
}

.invite .invite_info {
    justify-content: center;
    /* background-color: rgba(5, 88, 100, 0.5); */

    background-color: transparent;
}

.invite .invite_title .text::before, .invite .invite_title .text::after {
    background-image: none;
}

.hero-wrapper::before, .hero-wrapper::after {
    background: none
}

.abel {
    font-family: 'Abel', sans-serif;
}

.hero-wrapper h2 {
    font-size: 22pt;
}

.divider-about-us i {
    color: var(--custom-primary-color);
    opacity: 1;
}
