.flex {
    display: flex;
}

.flex-1 {
    flex: 1 1 0%;
}

.hidden {
    display: none;
}

.submit_form{
    width: 200px;
}

.transportation-tip {
    margin-top: 80px;
}

.transportation-tip h5 {
    font-size: 20pt;
    margin-bottom: 20px;
    text-align: center;
}

.transportation-tip p {
    /* font-size: 18pt; */
}

.transportation-tip ul {
    list-style-type: none;
    padding: 0;
}

.transportation-tip ul a {
    text-decoration: underline
}

.underline {
    text-decoration: underline;
}

body {
    color: #364954;
}

.bg-color-overlay::before {
    background-color: #000;
    opacity: 0.35;
}

.insta-btn {
    align-items: center;
    background-color: #cb8b9d;
    border-radius: 5px;
    color: #fff;
    display: flex;
    height: 40px;
    justify-content: center;
    margin-top: 14px;
    margin-right: 10px;
    padding: 0 10px;
}

.insta-btn:hover {
    background-color: #cb8b9d;
    color: #fff;
}


@media(min-width: 992px) {
    .insta-btn {
        margin-top: 0px;
        margin-right: 0px;
    }

    .insta-btn span {
        display: none;
    }
}


.swal2-styled.swal2-confirm {
    background-color: #7e9fcd !important;
}

.map-info-container .info-wrapper .location-info, .timeline .description{
    background: var(--custom-primary-color);
}
